<%- include('./includes/head.ejs') %>

<% if(editing) { %>
  <form action="/edit-article" method="POST">
  <button type="submit">Edit</button>
  <input type="hidden" name='articleId' value='<%= article._id %>'>    
<% }else{ %>
  <form action="/add-article" method="POST">
  <button type="submit">Add New Article</button>
<% } %>
    <input
      type="text"
      name="title"
      value="<% if(editing) { %><%= article.title%><% } %>"
    />
    <input
      type="text"
      name="content"
      value="<% if(editing) { %><%= article.content%><% } %>"
    />
  </form>
  
  <form action="/delete-article" method="POST">
    <button type="submit">Delete</button>
    <input type="hidden" name='articleId' value='<%= article._id %>'>
  </form>

<%- include('./includes/end.ejs') %>
