<%- include("./includes/head.ejs") %>
<div>
  <a href="/add-article">+ Add New</a>
</div>
<div>
  <% if(articles.length > 0) { %>
    <% for(let article of articles) { %>
      <div>
        <h3><%= article.title %></h3>
        <div><%= article.content %></div>
        <a href="/edit-delete-article/<%= article._id %>">Edit</a>
        <a href="/write-comment/<%= article._id %>">Comment</a>
        
        <form action="/like-dislike-article" method="POST">
          <input type="hidden" name="articleId" value="<%= article._id %>">
          <% if(article.isLiked) { %>
            <button type="submit">Dislike</button>
          <% }else{ %>
            <button type="submit">Like</button>
          <% } %>
        </form>
      </div>
    <% } %>
  <% }else{ %>
    <h2>No Articles Yet</h2>
  <% } %>
</div>
<%- include("./includes/end.ejs") %>
