<%- include("./includes/head.ejs") %>
<div class="center">
  <a href="/add-article" class="button is-primary is-light">+ Add New</a>
</div>
<div class="container">
  <% if(articles.length > 0) { const reversed = articles.reverse() %>
    <% for(let article of reversed) { %>
      <div class="box">
        <h3 class="title is-4"><%= article.title %></h3>
        <div><%= article.content.slice(0,200) %>...</div>

        <div class="field is-grouped">
          <form action="/like-dislike-article" method="POST">
            <input type="hidden" name="articleId" value="<%= article._id %>">
            <% if(article.isLiked) { %>
              <button type="submit" class="fav-button">
                <ion-icon name="star"></ion-icon>
              </button>
            <% }else{ %>
              <button type="submit" class="fav-button">
                <ion-icon name="star-outline"></ion-icon>
              </button>
            <% } %>
          </form>

          <a href="/view-article/<%= article._id %>" class="button is-text">Read more</a>
          <a href="/edit-delete-article/<%= article._id %>" class="button is-light">Edit</a>
        </div>
        
      </div>
    <% } %>
  <% }else{ %>
    <h2>No Articles Yet</h2>
  <% } %>
</div>
<%- include("./includes/end.ejs") %>
