<%- include("./includes/head.ejs") %>

<div class="center top-button">
  <a href="/" class="button is-warning">← Go Back To Main Page</a>
</div>

<div class="container">
  <h3 class="title is-4"><%= article.title %></h3>
  <div><%= article.content %></div>
</div>

<div class="container">
    <div>
      <% if(article.comments.length > 0) { %>
        <% for(let comment of article.comments) { const newComment = comment.comment.split('\r\n') %>
          <div class="columns">
            <div class="column is-one-fifth">
              <p class="title is-6"><%= comment.name %></p>
            </div>
            <div class="column">
              <% for(let nc of newComment) { %>
                <%= nc %>
                <br>
              <% } %>
            </div>
          </div>
          <hr>
        <% } %>
      <% }else{%>
        <div>No Comments Yet</div>
        <hr>
      <% } %>
    </div>
    <div>
      <form action='/submit-comment' method="POST">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input
              type="text"
              class="input"
              name="name"
              required
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Write comment</label>
          <div class="control">
            <textarea
              name="comment"
              class="textarea"
              required
            ></textarea>
          </div>
        </div>
      
        <input type="hidden" name="articleId" value='<%= article._id %>'>
        <button type='submit' class="button is-success is-light submit-comment-button">Submit comment</button>
      </form>
    </div>
</div>
<%- include("./includes/end.ejs") %>
